@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Lato-Bold.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato', sans-serif;
}
